.about-page{
    margin: 0 25px 20px;
    font-size: 20px;

    h3{
        margin: 0;
    }

    .app{
        margin: 0 20px;
    }

    .dev{
        span{
            color: $yellow-tint;
        }

        .info{
            font-weight: bold;
            a{
                color: $orange-shade;
            }
        }
        .help{
            background-color: $transparent-white;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        
    }
}