.brew-container {
    // border: 1px solid red;
    width: 60%;
    margin: 3rem;
    font-size: 20px;
    display: block;
    flex-direction: column;
    align-self: center;
    padding: 20px 80px 50px;
    background-color: $transparent-white;
    // justify-content: center;
    // align-items: center;

    .brew-info {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 auto;
 
        h1{
            // text-transform: uppercase;
        }

        a {
            text-decoration: none;
            color: inherit;
            &:hover{
                color: $orange-shade;
            }
        }

        .address {
            #address {
                font-weight: bold;
                text-transform: uppercase
            }
        }

        button {
            height: 40px;
            width: 80px;
            font-size: 20px;
            font-weight: bold;
            border-radius: 5px;
            border: none;
            background-color: $yellow-tint;
            cursor: pointer;  
            outline: none;

            &:hover {
              background-color: $orange-shade;
              color: rgba(255,255,255,1);
              
            }
        }

    }
}