

.header-container {
    position: relative;
    color: rgba(255,255,255,1);

    // .nav-links,.welcome-logo {
    //     text-decoration: none;
    //     color: inherit;
    // }
    // transition: translateY(-60);

       .nav-links {
        height: 5vh;
        display: flex;
        font-size: 25px;
        align-items: center;
        background-color: $transparent-white;   

        .nav-link{
            text-decoration: none;
            color: $yellow-tint;
            margin: 0 20px;
            &:hover{
                color: $orange-shade;
            }
            }
        }

    .welcome {
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        height: 5vh;
        font-size: 40px;
    }
}
