

.header-container {
    position: relative;
    // left: 10px;
    color: white;

    // .nav-links,.welcome-logo {
    //     text-decoration: none;
    //     color: inherit;
    // }
    // transition: translateY(-60);

       .nav-links {
        // width: 50vw;
        height: 5vh;
        display: flex;
        font-size: 25px;
        align-items: center;
        background-color: rgba(255,255,255,0.2);   

        .nav-link{
            text-decoration: none;
            color: rgb(243, 232, 75);
            margin: 0 20px;
            &:hover{
                color: rgb(245, 157, 36);
            }
            }
        }

    .slogan {
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        height: 5vh;
        font-size: 40px;
    }
}
// make slide-in menu from left to right.