
.brews-container {

  display: flex;
  flex-direction: column;
  font-size: 25px;
  padding-bottom: 100px;
 
  ul {
    margin: 7px;

    a {
      text-decoration: none;
    }

    li{
      display: flex;
      align-items: center;
      padding: 3px 0;
      list-style-type: none;
      color: white;
      &:hover {
        background-color: $transparent-white;
        width: inherit;
      }

      .bottleCap {
        color: $yellow-tint;
        margin-right: 10px;
      }

      .location {
        color: $orange-shade;
        font-size: 22px;
        margin-left: 10px;
      }
    }
  }
}
